@import "tailwindcss";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');


body {
  font-family: 'Rouge Script', cursive, sans-serif;
}
